@font-face {
    font-family: Golden_Cheese;
    src: url("fonts/golden\ chesse.otf");
}

@font-face {
    font-family: Comforta-Light;
    src: url("fonts/Comfortaa-Light.ttf");
}

body {
    background-color: white;
    margin: 0;
    font-family: Golden_Cheese;
}

.page_body {
    font-family: Comforta-Light;
    width: 95%;
    margin: 0 auto;
    font-weight: lighter;
}

.houses {
    float: right;
    margin-top: 20px;
}

.housedesc {
    margin-top: 22%;
}

.housedesc p {
    margin-right: 20px;
    margin-top: 20px;
    display: block;
}

.houses img {
    width: 30%;
    float: left;
    margin-left : 20px;
    margin-right: calc(30vw);
    margin-top: auto;
    margin-bottom: 20px;
}

.agents {
    float: right;
    margin-top: 20px;
}

.agents img {
    width: 28%;
    float: left;
    margin-left : 20px;
    margin-right: calc(30vw);
    margin-top: auto;
    margin-bottom: 20px;
}

.agentdesc {
    margin-top: 25%;
}

.houselist img {
    width: 20%;
}